@font-face {
    font-family: Mulish;
    src: url('fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: Mulish;
    src: url('fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: Mulish;
    src: url('fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2');
    font-weight: 400;
}